<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../dist/output.css">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>DLSDS-Admin Panel</title>
</head>
<body>
<div id="sidenav" class="w-64 bg-[#4d44b5] hidden md:block">
    <div class="fixed top-0 left-0 w-64 h-full text-sm bg-[#43379d]">

        <div class="flex items-center justify-center py-4 border-b-2 border-blue-400">                    
                <img src="../../../images/ccet-logo.png" alt="Company Logo" class="w-24 h-16">            
        </div>
        
        <ul class="sidenavClass flex flex-col p-4 text-[#adbef5]">
            <li class="my-2">
                <a href="/ccet" class="block px-4 py-2 rounded-md hover:bg-[#362f78]  hover:text-white">
                    <i class="fa fa-home pr-2" aria-hidden="true"></i>
                    Dashboard
                </a>
            </li>        
            <li class="my-2">
                <a href="/ccet/student-management/" class="block px-4 py-2 rounded-md hover:bg-[#362f78]  hover:text-white">
                    <i class="fa fa-users pr-2" aria-hidden="true"></i>
                    Student Management
                </a>
                <ul class="ml-6 mt-2">
                    <li>
                        <a href="/ccet/student-management/add" class="block px-2 py-1 rounded-md hover:bg-[#362f78]  hover:text-white">
                            <i class="fa fa-user-plus pr-2" aria-hidden="true"></i>
                            Add Student
                        </a>
                    </li>
                    <li>
                        <a href="/ccet/student-management/" class="block px-2 py-1 rounded-md hover:bg-[#362f78]  hover:text-white">
                            <i class="fa fa-id-card pr-2" aria-hidden="true"></i>
                            View Students
                        </a>
                    </li>
                    <li>
                        <a href="/ccet/student-management/admissionForms" class="block px-2 py-1 rounded-md hover:bg-[#362f78]  hover:text-white">
                            <i class="fa fa-file-text pr-3" aria-hidden="true"></i>
                            Admission Forms
                        </a>
                    </li>
                </ul>
            </li>
            <li class="my-2">
                <a href="/ccet/fees-management/" class="block px-4 py-2 rounded-md hover:bg-[#362f78]  hover:text-white">
                    <i class="fa fa-inr pr-3" aria-hidden="true"></i>
                    Fees Management
                </a>            
            </li>
            <li class="my-2">
                <a href="/ccet/course-management/" class="block px-4 py-2 rounded-md hover:bg-[#362f78]  hover:text-white">
                    <i class="fa fa-graduation-cap pr-1" aria-hidden="true"></i>
                    Course Management
                </a>            
            </li>
            <li class="my-2">
                <a href="/ccet/branch-management/" class="block px-4 py-2 rounded-md hover:bg-[#362f78]  hover:text-white">
                    <i class="fa fa-cubes pr-2" aria-hidden="true"></i>
                    Branch Management
                </a>            
            </li>
            <li class="my-2">
                <a href="/logout" class="block px-4 py-2 rounded-md hover:bg-[#362f78]  hover:text-white">
                    <i class="fa fa-power-off pr-2" aria-hidden="true"></i>
                    Logout
                </a>            
            </li>
        </ul>

        <!-- Close button inside the sidenav -->
        <button id="closeButton" type="button" class="hidden absolute top-2 left-56 text-gray-100 hover:text-gray-300 focus:text-gray-700 focus:outline-none md:hidden">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </button>
    </div>    
</div>

<div class="md:hidden">
    <button id="hamburger" type="button" class="block m-2 text-gray-600 hover:text-gray-700 focus:text-gray-700 focus:outline-none">
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
    </button>
</div>

<script>
    var sidenav = document.getElementById('sidenav');
    var closeButton = document.getElementById('closeButton');
    var hamburger = document.getElementById('hamburger');

    closeButton.addEventListener('click', function() {
        hamburger.classList.remove('hidden');
        sidenav.classList.add('hidden');
        closeButton.classList.add('hidden');
    });

    hamburger.addEventListener('click', function() {
        hamburger.classList.add('hidden');
        sidenav.classList.remove('hidden');
        closeButton.classList.remove('hidden');
    });

    function checkScreenSize() {
        if (window.innerWidth >= 768) {
            closeButton.classList.add('hidden');
        } else {
            if (!sidenav.classList.contains('hidden')) {
                closeButton.classList.remove('hidden');
            }
        }
    }

    window.addEventListener('resize', checkScreenSize);
    checkScreenSize();
</script>