<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../dist/output.css">    
    <title>Document</title>
</head>
<body>

<div class="fixed top-0 left-0 h-full bg-[#4d44b5]">
    <div class="bg-white text-lg text-blue-700 h-16 text-center pt-4">
        <p>CCET</p>
    </div>

    <ul class="sidenavClass flex flex-col p-4 text-white">
        <li class="m-8">
            <a href="">Dashboard</a>
        </li>        
        <li class="m-8">
            <a href="/ccet/">Student Management</a>
            <ul>
                <li>
                    <a href="/ccet/student-management/add">Add Student</a>
                </li>
                <li>
                    <a href="/ccet/student-management/view">View Students</a>
                </li>
            </ul>
        </li>
        <li class="m-8">
            <a href="/ccet/fees-management/">Fees Management</a>            
        </li>
        <li class="m-8">
            <a href="/ccet/course-management/">Course Management</a>            
        </li>
    </ul>
</div>