<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../dist/output.css">    
    <title>Document</title>
</head>
<body>

<div class="fixed top-0 left-0 h-full bg-[#43379d]">
    <div class="bg-white text-lg text-blue-700 h-16 text-center pt-4">
        <p class="font-bold">CCET</p>
    </div>

    <ul class="sidenavClass flex flex-col p-4 text-[#adbef5]">
        <li class="my-6">
            <a href="#" class="block px-4 py-2 rounded-md hover:bg-blue-400">Dashboard</a>
        </li>        
        <li class="my-6">
            <a href="/ccet/student-management/" class="block px-4 py-2 rounded-md hover:bg-blue-400">Student Management</a>
            <ul class="ml-6 mt-2">
                <li>
                    <a href="/ccet/student-management/add" class="block px-2 py-1 rounded-md hover:bg-blue-400">Add Student</a>
                </li>
                <li>
                    <a href="/ccet/student-management/view" class="block px-2 py-1 rounded-md hover:bg-blue-400">View Students</a>
                </li>
            </ul>
        </li>
        <li class="my-6">
            <a href="/ccet/fees-management/" class="block px-4 py-2 rounded-md hover:bg-blue-400">Fees Management</a>            
        </li>
        <li class="my-6">
            <a href="/ccet/course-management/" class="block px-4 py-2 rounded-md hover:bg-blue-400">Course Management</a>            
        </li>
    </ul>
</div>
