<div class="fixed top-0 left-0 w-64 h-full bg-blue-600">
    <div class="bg-white text-lg text-blue-700 h-16 text-center pt-4">
        <p>CCET</p>
    </div>
    <ul class="flex flex-col p-4">
        <li class="m-8">
            <a href="">Dashboard</a>
        </li>        
        <li class="m-8">
            <a href="/ccet/">Student Management</a>
            <ul>
                <li>
                    <a href="/ccet/student-management/add">Add Student</a>
                </li>
                <li>
                    <a href="/ccet/student-management/view">View Students</a>
                </li>
            </ul>
        </li>
        <li class="m-8">
            <a href="/ccet/fees-management/">Fees Management</a>
            <ul>
                <li>
                    <a href="/ccet/fees-management/add">Add Fees</a>
                </li>                
            </ul>
        </li>
        <li class="m-8">
            <a href="/ccet/course-management/">Course Management</a>            
        </li>
    </ul>
</div>