<div class="flex h-screen">    
    
    <%- include('../../partials/adminTemplate.ejs') %>    

    <div class="flex-1 flex bg-white">        

        <div class="w-[100%] h-32 my-4 flex flex-col items-center lg:flex-row lg:justify-evenly">            
            
            <div class="w-[50%] lg:w-[25%] my-4 p-4 border-2 border-slate-400 rounded-md text-gray-700 font-bold hover:border-slate-500">
                <p>Total Students</p>
                <p class="text-3xl">28</p>
            </div>            
            <div class="w-[50%] lg:w-[25%] my-4 p-4 to-[#7F53AC] border-2 border-slate-400 rounded-md text-gray-700 font-bold hover:border-slate-500">
                <p>Chandmari Branch</p>
                <p class="text-3xl">21</p>
            </div>
            <div class="w-[50%] lg:w-[25%] my-4 p-4 border-2 border-slate-400 rounded-md text-gray-700 font-bold hover:border-slate-500">
                <p>Changsari Branch</p>
                <p class="text-3xl">07</p>
            </div>
            
        </div>

    </div>
</div>

    <script src="../../../../js/main.js"></script>
    
</body>
</html>

