<div class="flex h-screen">    
    <div class="w-64 bg-[#4d44b5]">        
        <%- include('../../partials/adminTemplate.ejs') %>
    </div>

    <div class="flex-1 flex bg-white">        

        <div class="w-[100%] h-32 my-4 flex flex-wrap justify-evenly">            
            <!-- <div class="w-[25%] mx-8 my-4 p-12 bg-[#64c7ff] border-2 border-slate-400 rounded-md text-white font-bold hover:border-slate-500">
                <p>Total Students</p>
            </div>            
            <div class="w-[25%] mx-8 my-4 p-12 bg-[#a66dd4] border-2 border-slate-400 rounded-md text-white font-bold hover:border-slate-500">
                <p>Chandmari Branch</p>
            </div>            
            <div class="w-[25%] mx-8 my-4 p-12 bg-[#3a76ef] border-2 border-slate-400 rounded-md text-white font-bold hover:border-slate-500">
                <p>Changsari Branch</p>
            </div> -->

            <!-- <div class="w-[25%] my-4 p-12 bg-gradient-to-t from-[#647DEE] to-[#7F53AC] border-2 border-slate-400 rounded-md text-white font-bold hover:border-slate-500">
                <p>Total Students</p>
            </div> -->
            <div class="w-[25%] my-4 p-4 border-2 border-slate-400 rounded-md text-gray-700 font-bold hover:border-slate-500">
                <p>Total Students</p>
                <p class="text-3xl">28</p>
            </div>            
            <div class="w-[25%] my-4 p-4 to-[#7F53AC] border-2 border-slate-400 rounded-md text-gray-700 font-bold hover:border-slate-500">
                <p>Chandmari Branch</p>
                <p class="text-3xl">21</p>
            </div>
            <div class="w-[25%] my-4 p-4 border-2 border-slate-400 rounded-md text-gray-700 font-bold hover:border-slate-500">
                <p>Changsari Branch</p>
                <p class="text-3xl">07</p>
            </div>
        </div>

    </div>
</div>

    <script src="../../../../js/main.js"></script>
    
</body>
</html>

