<div class="flex h-screen">    
    
    <%- include('../../partials/adminTemplate.ejs') %>    

    <div class="flex-1 flex bg-white">        

        <div class="w-[100%] h-32 my-4 flex flex-col items-center lg:flex-row lg:justify-evenly lg:flex-wrap lg:mx-12">            
            
            <div class="w-[50%] lg:w-[25%] lg:mx-6 my-4 p-4 border-2 border-slate-400 rounded-md text-gray-700 font-bold hover:border-slate-500">
                <p>Total Students</p>
                <p class="text-3xl"><%= totalStudents < 10 ? `0${totalStudents}` : totalStudents %></p>
            </div>            
            <% if(branches) { %>
                <% branches.forEach( b => { %>
                <div class="w-[50%] lg:w-[25%] lg:mx-6 my-4 p-4 to-[#7F53AC] border-2 border-slate-400 rounded-md text-gray-700 font-bold hover:border-slate-500">
                    <p><%= b.branchName %></p>
                    <p class="text-3xl"><%= b.totalStudents < 10 ? `0${b.totalStudents}` : b.totalStudents %></p>                                        
                </div>
                <% }) %>
            <% } %>
            
        </div>

    </div>
</div>

    <script src="../../../../js/main.js"></script>
    
</body>
</html>


