<div class="flex h-screen">             

    <%- include('../../../partials/adminTemplate.ejs') %>    

    <div class="flex-1 flex items-center bg-white">        

        <div class="w-[95%] lg:mx-36 sm:mx-8 p-8 flex flex-col lg:items-center bg-[#d7eaf8]">            
            <h1 class="w-[60%] bg-gradient-to-r from-indigo-400 my-4 p-2 text-white">Record Fees</h1>            

            <% students.forEach(student => { %>
            <form action="/ccet/add-fees" method="POST">
                <table>
                    <tr>
                        <input type="hidden" name="studentId" value="<%= student._id %>">
                        <td>
                            <label>
                                Student Name
                            </label>                    
                        </td>
                        <td>                            
                            <input class="my-3" type="text" name="studentName" value="<%= student.studentName %>" disabled>                            
                        </td>                        
                    </tr>   
                    <tr>
                        <td>
                            <label>
                                Course Enrolled
                            </label>                    
                        </td>
                        <td>
                            <input class="my-3" type="text" name="courseEnrolled" value="<%= student.courseEnrolled.courseName %>" disabled>
                        </td>
                    </tr>   
                    <tr>
                        <td>
                            <label>
                                Amount Received
                            </label>
                        </td>
                        <td>
                            <input class="my-3" type="text" name="amountReceived" value="">
                        </td>
                    </tr>                       
                    <tr>
                        <td>

                        </td>
                        <td>
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
            <% }) %>
        </div>
    </div>
</div>

</body>

</html>


