<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Fees History</h1>
    <table>
        <% students.forEach(student => { %>

            <% student.fee.totalFeesPaid.forEach((item, index) => { %>
                <tr>
                    <% if(index>0){ %>
                    <td>Installment <%= index %></td>
                    <td><%= item %></td>
                    <% } %>
                </tr>                
            <% }) %>        

        <% }) %>
    </table>

</body>
</html>