<%- include('../../../partials/adminTemplate.ejs') %>
    
    <div class="fixed top-0 left-64 w-full h-full bg-white">
        <table>
            <% students.forEach(student => { %>

                <% student.fee.totalFeesPaid.forEach((item, index) => { %>
                    <tr>
                        <% if(index>0){ %>
                        <td>Installment <%= index %></td>
                        <td><%= item %></td>
                        <% } %>
                    </tr>                
                <% }) %>        

            <% }) %>
        </table>
    </div>    
</body>
</html>