<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Add Course </h1>
    <form action="/course/add" method="POST">
        <label>Course Name : </label>
        <input type="text" name="course" value="">

        <label>Course Duration : </label>
        <input type="text" name="duration" value="">
        
        <button type="submit">Add Course</button>
    </form>

    <h1>View Courses</h1>
    <% if(!course) { %>
        <p>Something went wrong..</p>
    <% } else { %>
    <% let courseArr = Object.values(course) %>
    <ul>
        <% courseArr.forEach(e => { %>
            <li>
                <span id="coursename">
                    <%= e.courseName %>
                </span>
                <span id="courseduration">
                    <%= e.courseDuration %> months
                </span>
                <% }) %>
            </li>
    </ul>
    <% } %>

    

    
</body>
</html>