<div class="flex h-screen">    
           
    <%- include('../../../partials/adminTemplate.ejs') %>    

    <div class="flex-1 flex items-center bg-white">        

        <div class="w-[95%] lg:mx-36 sm:mx-8 p-8 flex flex-col lg:items-center bg-[#d7eaf8]">            
            <h1 class="w-[60%] bg-gradient-to-r from-indigo-400 my-4 p-2 text-white">Add New Student</h1>            
            <form action="/ccet/add-student" method="POST" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td>
                            <label>
                                Student Name
                            </label>                    
                        </td>
                        <td>
                            <input class="my-3" type="text" name="studentName">
                        </td>
                    </tr>   
                    <tr>
                        <td>
                            <label>
                                Last Exam Passed
                            </label>                    
                        </td>
                        <td>
                            <select class="my-3" name="lastExamPassed">
                                <option value="hslc">HSLC</option>
                                <option value="hs">HS</option>
                                <option value="graduation">Graduation</option>
                                <option value="post graduation">Post Graduation</option>
                            </select>
                        </td>
                    </tr>   
                    <tr>
                        <td>
                            <label>
                                Course enrolled
                            </label>
                        </td>
                        <td>
                            <select class="my-3" name="courseEnrolled">
                                <% courses.forEach(course => { %>
                                    <option value="<%= course._id %>">
                                        <%= course.courseName %>
                                    </option>            
                                <% }) %>
                            </select>
                        </td>
                    </tr>   
                    <tr>
                        <td>
                            <label>Upload Admission Form  </label>
                        </td>
                        <td>
                            <input class="my-3" type="file" name="image" value="">
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Submit</button>
                        </td>
                    </tr>
                </table>
        
                
                
            </form>
        </div>
    </div>
</div>

    <script src="../../../../js/main.js"></script>
    
</body>
</html>

