<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h3>Enrolled Students</h3>
    <form action="" method="POST">
        <label>
            Course
        </label>
        <select name="courseName">
            <option value="DCA (Diploma in Computer Application)">DCA</option>
            <option value="ADCA">ADCA</option>
            <option value="PGDCA (Post Graduate Diploma in Computer Application)">PGDCA</option>            
            <option value="Graphics Designing">Graphics Designing</option>            
        </select>
        <label>
            Session
        </label>
        <select name="session">
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>                        
        </select>
        <button type="submit">Filter Search</button>
    </form>
    

    <table>
        <% students.forEach(student => { %>
        <tr>
            <td>
                <%= student.studentName %>
            </td>
            <td>
                <%= student.lastExamPassed %>
            </td>
            <td>
                <%= student.courseEnrolled.courseName %>
            </td>
            <td>
                <%= student.enrollmentDate %>
            </td>
        </tr>
        <% }) %>
    </table>

    
</body>
</html>